# JTAG adapter setup
adapter_khz     10000

set chain_length 5

interface ftdi
ftdi_device_desc "Dual RS232-HS"
ftdi_vid_pid 0x0403 0x6010

ftdi_layout_init 0x0008 0x001b
ftdi_layout_signal nSRST -oe 0x0020
ftdi_layout_signal LED -data 0x0020

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen $chain_length

set _TARGETNAME_0 $_CHIPNAME.cpu

target create $_TARGETNAME_0 riscv -chain-position $_TARGETNAME_0
  
$_TARGETNAME_0 configure -work-area-phys 0x80000000 -work-area-size 0x2710 -work-area-backup 1

if { $chain_length == 6 } {
  riscv use_bscan_tunnel 5
}

flash bank spi0 fespi 0x20000000 0 0 0 $_TARGETNAME_0 0x10014000

init
if { [info exists authkey] } {
  riscv authdata_write $authkey
}

if {[ info exists pulse_srst]} {
  ftdi_set_signal nSRST 0
  ftdi_set_signal nSRST z
  sleep 1500
}
halt

flash protect 0 64 last off

echo "Ready for Remote Connections"