[submodule "software/hello"]
	path = software/hello
	url = https://github.com/sifive/example-hello.git
[submodule "freedom-mee"]
	path = freedom-mee
	url = https://github.com/sifive/freedom-mee.git
[submodule "scripts/elf2hex"]
	path = scripts/elf2hex
	url = ../elf2hex
[submodule "software/example-itim"]
	path = software/example-itim
	url = https://github.com/sifive/example-itim.git
