/include/ "core.dts"
/ {
	chosen {
		metal,entry = <&testram1 0 0>;
		metal,boothart = <&L10>;
		metal,eccscrub = <1>;
		metal,itim = <&L30 0 0>;
		metal,ram = <&L30 0 0>;
	};
};
&L32 {
	testram1: testram@800000000 {
		compatible = "sifive,testram0";
		reg = <0x8 0x0 0x0 0x1fffffff>;
		reg-names = "mem";
	};
};
&L31 {
	testram2: testram@c00000000 {
		compatible = "sifive,testram0";
		reg = <0xc 0x0 0x0 0x1fffffff>;
		reg-names = "mem";
	};
};
