# JTAG adapter setup
adapter_khz     10000

set chain_length 5


if { [ info exists protocol ] == 0 } {
  # If not specified on the cmd line, default to cjtag
  set protocol cjtag
}

if { [ info exists connection ] == 0 } {
  # If not specified on the cmd line, default to probe
  set connection probe
}

set debug_config "${protocol}_${connection}"
# Bring in the correct configuration script for the specified debug config
switch ${debug_config} {
  jtag_probe {
    echo "Using JTAG"
    source [find interface/ftdi/olimex-arm-usb-tiny-h.cfg]
    set chain_length 5
  }
  cjtag_probe {
    echo "Using cJTAG"
    source [find interface/ftdi/olimex-arm-jtag-cjtag.cfg]
  }
  jtag_tunnel {
    echo "Using JTAG tunnel"
    source [find interface/ftdi/arty-onboard-ftdi.cfg]
    set chain_length 6
  }
  cjtag_tunnel {
    error "Configuration not implemented in this release: ${debug_config}"
  }
  default {
    error "Unknown configuration specified: ${debug_config}"
  }
}


set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen $chain_length

set _TARGETNAME_0 $_CHIPNAME.cpu

target create $_TARGETNAME_0 riscv -chain-position $_TARGETNAME_0
  
$_TARGETNAME_0 configure -work-area-phys 0x80000000 -work-area-size 0x2710 -work-area-backup 1

if { $chain_length == 6 } {
  riscv use_bscan_tunnel 5
}

flash bank spi0 fespi 0x20000000 0 0 0 $_TARGETNAME_0 0x10014000

init
if { [info exists authkey] } {
  riscv authdata_write $authkey
}

if {[ info exists pulse_srst]} {
  ftdi_set_signal nSRST 0
  ftdi_set_signal nSRST z
  sleep 1500
}
halt

flash protect 0 64 last off

echo "Ready for Remote Connections"